name: Cloud Deploy (CI/CD)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to AWS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_IP }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            cd WorkStream
            git pull origin main
            docker-join --version # Check if docker is working
            docker-compose up -d --build
            docker-compose exec -T web python manage.py migrate
